    body {
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    h1{
        text-align: center;
        color: aliceblue;
        position: absolute;
        left: 92vh;
        top: 25vh;
    }

    form {
        justify-content: center;
        text-align: center;
        position: absolute;
        left: 92vh;
        top: 40vh;
        color: aliceblue;
        background-color: hsla(300, 10%, 95%, 0.1);
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 15px 20px;
        border-radius: 20px;
    }

    #button_login{
        text-align: center;
        position: absolute;
        left: 102vh;
        top: 67vh;
        background-color: hsla(300, 10%, 95%, 0.1);
        padding: 10px 30px;
        border-radius: 5px;
        color: aliceblue;
    }